@{
    ViewBag.Title = "Master";
}
@using VKTracker.Model.ViewModel;

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Master</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills nav-justified mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light active" data-bs-toggle="tab" id="btnOrganization" href="#pill-Organization" role="tab" aria-selected="true">
                    Organization
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnUser" href="#pill-User" role="tab" aria-selected="false" tabindex="-1">
                    User
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnLocation" href="#pill-Location" role="tab" aria-selected="false" tabindex="-1">
                    Location
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnFebric" href="#pill-Febric" role="tab" aria-selected="false" tabindex="-1">
                    Febric
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnItem" href="#pill-Item" role="tab" aria-selected="false" tabindex="-1">
                    Item
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnStock" href="#pill-Stock" role="tab" aria-selected="false" tabindex="-1">
                    Stock
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" id="btnParcel" href="#pill-Parcel" role="tab" aria-selected="false" tabindex="-1">
                    Parcel
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-muted">
            <div class="tab-pane active show" id="pill-Organization" role="tabpanel">
                @Html.Partial("_OrganizationPartial", new OrganizationViewModel())
            </div>
            <div class="tab-pane" id="pill-User" role="tabpanel">
                @Html.Partial("_UserPartial", new UserViewModel())
            </div>
            <div class="tab-pane" id="pill-Location" role="tabpanel">
                @Html.Partial("_LocationPartial", new LocationViewModel())
            </div>
            <div class="tab-pane" id="pill-Febric" role="tabpanel">
                @Html.Partial("_FebricPartial", new FabricViewModel())
            </div>
            <div class="tab-pane" id="pill-Item" role="tabpanel">
                @Html.Partial("_ItemPartial", new ItemViewModel())
            </div>
            <div class="tab-pane" id="pill-Stock" role="tabpanel">
                @Html.Partial("_StockPartial", new StockCodeViewModel())
            </div>
            <div class="tab-pane" id="pill-Parcel" role="tabpanel">
                @Html.Partial("_ParcelPartial", new ParcelCodeViewModel())
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/custom/organizationDatatable.js"></script>
    <script src="~/Scripts/custom/locationDatatable.js"></script>
    <script src="~/Scripts/custom/parcelCodeDataTable.js"></script>
    <script src="~/Scripts/custom/usersDataTable.js"></script>
    <script src="~/Scripts/custom/fabricDataTable.js"></script>
    <script src="~/Scripts/custom/itemDataTable.js"></script>
    <script src="~/Scripts/custom/stockCodeDataTable.js"></script>

    <script>
        $(function () {
            $('#grid').DataTable().destroy();
            bindOrganization();
        });

        $("#btnOrganization").click(function () {
            $('#grid').DataTable().destroy();
            bindOrganization();
        });

        $("#btnUser").click(function () {
            $('#gridUser').DataTable().destroy();
            bindUsers();
        });

        $("#btnLocation").click(function () {
            $('#gridLocation').DataTable().destroy();
            bindLocation();
        });

        $("#btnFebric").click(function () {
            $('#gridFabric').DataTable().destroy();
            bindFabric();
        });

        $("#btnItem").click(function () {
            $('#gridItem').DataTable().destroy();
            bindItem();
        });

        $("#btnStock").click(function () {
            $('#gridStockCode').DataTable().destroy();
            bindStockCode();
        });

        $("#btnParcel").click(function () {
            $('#parcelCodeGrid').DataTable().destroy();
            bindParcelCode();
        });
    </script>
}