@model VKTracker.Model.ViewModel.UserViewModel

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h5 class="card-title mb-0 flex-grow-1">User</h5>
        <div>
            <button class="btn btn-primary btn-label waves-effect waves-light" data-bs-toggle="modal" id="btnUserModal" data-bs-target="#userModal">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add User
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="gridUser" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2">User Name</th>
                    <th class="col-2">Email Id</th>
                    <th class="col-2">Mobile No</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade zoomIn" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">User Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form id="userForm" name="userForm" method="post">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">First Name</label>
                            @Html.HiddenFor(x => x.Id)
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeHolder = "First Name", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                            <span class="text-danger" id="errorName"></span>
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">Last Name</label>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeHolder = "Last Name", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">User Name</label>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeHolder = "User Name", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">Password</label>
                            @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control", @placeHolder = "Password", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">Email Id</label>
                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", @placeHolder = "Email Id", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.EmailId, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">Mobile No</label>
                            @Html.TextBoxFor(x => x.MobileNo, new { @type = "number", @class = "form-control", @placeHolder = "Mobile No" })
                            @Html.ValidationMessageFor(x => x.MobileNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-6">
                            <label for="projectName-field" class="form-label">Select Organization</label>
                            @Html.DropDownListFor(m => m.OrganizationId, (SelectList)ViewBag.Organization, new { @class = "form-select", @multiple = "multiple" })
                            @Html.ValidationMessageFor(x => x.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="addUser">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="userLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">User History Logs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <table id="gridUserLog" class="display table caption-top table-nowrap" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Action</th>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>Log User Name</th>
                            <th>Log Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/custom/usersDataTable.js"></script>

    <script>
        $(function () {
            $('#gridUser').DataTable().destroy();
            bindUsers();
            BindOrganization()
        });
    </script>
}