@model VKTracker.Model.ViewModel.DistributionViewModel

<div class="modal fade zoomIn" id="distributionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">Distribution Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form id="parcelForm" name="parcelForm" method="post">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-6">
                            <label for="projectName-field" class="form-label">Stock Code</label>
                            @Html.LabelFor(m => m.StockCodeId, new { @class = "form-control" })
                        </div>
                        <div class="col-6">
                            <label for="projectName-field" class="form-label">Distribution Date</label>
                            @Html.TextBoxFor(m => m.DistributionDate, new Dictionary<string, object> { { "data-provider", "flatpickr" }, { "data-date-format", "Y-m-d" }, { "class", "form-control" }, { "placeholder", "dd-mm-yyyy" } })
                        </div>
                        <div class="col-6">
                            <label for="projectName-field" class="form-label">Party (Location)</label>
                            @Html.DropDownListFor(m => m.PartyId, (SelectList)ViewBag.StockCodeDDL, new { @class = "form-select" })
                        </div>
                        <div class="col-6">
                            <div class="col-3">
                                <label for="projectName-field" class="form-label">Type</label><br />
                            </div>
                            <div class="mt-4 mt-lg-0">
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(model => model.IsFull, true, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="IsFull">Full</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(model => model.IsFull, false, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="IsFull">Partial</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="projectName-field" class="form-label">Quantity</label>
                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @placeHolder = "Quantity" })
                        </div>
                        <div class="col-6">
                            <label for="projectName-field" class="form-label">Bill Number</label>
                            @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control", @placeHolder = "Bill Number" })
                        </div>
                        <div class="col-12">
                            <label for="projectName-field" class="form-label">Note</label>
                            @Html.TextAreaFor(x => x.Note, new { @class = "form-control", @placeHolder = "Note", @Rows = "3", @maxLength = "250" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="addParcel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
