@model VKTracker.Model.ViewModel.DistributionViewModel
@{
    ViewBag.Title = "Distribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var distributionModel = new VKTracker.Model.ViewModel.DistributionViewModel();
}

@Html.Partial("~/Views/Shared/_BreadCrum.cshtml")

<div class="card">
    <div class="card-header d-flex align-items-center">
        <div class="card-title mb-0 flex-grow-1" id="distributionHeader"></div>
        <div>
            @*<button class="btn btn-primary btn-label waves-effect waves-light" data-bs-toggle="modal" id="btnDistributionModal" data-bs-target="#distributionModal">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add Distributions
            </button>*@
        </div>
    </div>
    <div class="card-body">
        <form id="frmSearch" name="frmSearch">
            <div class="row mb-4 d-flex">
                <div class="col-3">
                    <label for="projectName-field" class="form-label">Stock Code</label>
                    @Html.DropDownListFor(m => m.StockCodeId, (SelectList)ViewBag.StockCodeDDL, "Select Code", new { @class = "form-select" })
                </div>
                <div class="col-3">
                    <label for="projectName-field" class="form-label">Fabric</label>
                    @Html.DropDownListFor(m => m.FabricId, (SelectList)ViewBag.FabricDDL, "Select Fabric", new { @class = "form-select" })
                </div>
                <div class="col-3">
                    <label for="projectName-field" class="form-label">Item Type</label>
                    @Html.DropDownListFor(m => m.ItemTypeId, (SelectList)ViewBag.ItemTypeDDL, "Select Item", new { @class = "form-select" })
                </div>
                <div class="col-3">
                    <label for="projectName-field" class="form-label">A Quantity</label>
                    @Html.TextBoxFor(m => m.AvailableQuantity, new { @class = "form-control" })
                </div>
                <div class="col-3">
                    <label for="projectName-field" class="form-label">Location</label>
                    @Html.DropDownListFor(m => m.LocationId, (SelectList)ViewBag.LocationDDL, "Select Location", new { @class = "form-select" })
                </div>
                <div class="col-3">
                    <label for="projectName-field" class="form-label">Stock No</label>
                    @Html.TextBoxFor(m => m.StockNo, new { @class = "form-control", @placeholder = "Bill No" })
                </div>
                <div class="col-1 mt-4">
                    <button type="button" class="btn btn-success btn-label waves-effect waves-light" id="btnSearch">
                        <i class="ri-search-line label-icon align-middle fs-16 me-2"></i>Search
                    </button>
                </div>
            </div>
        </form>
        <table id="gridDistribution" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>Select</th>
                    <th>Than Id</th>
                    <th>Code</th>
                    <th>Fabric Type</th>
                    <th>Item Type</th>
                    <th>Total Quantity</th>
                    <th>Actual Quantity</th>
                    <th>Current Location</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<div class="modal fade zoomIn" id="distributionLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">Distribution History Logs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <table id="gridDistributionLog" class="display table caption-top table-nowrap" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Action</th>
                            <th>Than Id</th>
                            <th>Code</th>
                            <th>Fabric Type</th>
                            <th>Item Type</th>
                            <th>Total Quantity</th>
                            <th>Actual Quantity</th>
                            <th>Current Location</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Distribution/_DistributionPartial.cshtml", distributionModel)

@section scripts
{
    <script src="~/Scripts/custom/parcelDatatable.js"></script>
    <script src="~/Scripts/custom/distrubutionDataTable.js"></script>

    <script>
        $(function () {
            $("#AvailableQuantity").val('');
            $('#gridDistribution').DataTable().destroy();
            bindDistribution();
        });
    </script>
}